In [1]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, r2_score

import pandas as pd
import numpy as np

In [48]:
path = 'DataMarch.csv'
df = pd.read_csv(path)

In [49]:
df

,Age,Gender,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,...,Target,Status,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,EMI,Risk,ELA,ROI
0,20,0.0,319.5582,319.56,40.00,1,0.00,0,3.0,3.0,...,1,1,0.00,0.00,0.0,0.00,32.745603,0.5,0.240099,0.009067
1,49,1.0,319.5582,319.56,30.00,20,0.00,2,2.0,4.0,...,1,1,0.00,0.00,0.0,0.00,8.010331,0.5,0.123593,0.006730
2,19,0.0,319.5582,70.30,49.00,2,0.00,3,2.0,2.0,...,1,1,0.00,0.00,0.0,0.00,21.138012,0.5,0.156880,0.002239
3,41,0.0,191.7349,191.75,30.00,18,0.00,3,5.0,1.0,...,1,1,0.00,0.00,0.0,54.14,4.816621,0.5,0.214272,0.003926
4,19,0.0,115.0410,19.17,49.00,1,0.00,2,2.0,2.0,...,1,1,0.00,0.00,0.0,0.00,12.317211,0.5,0.137941,0.000406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27842,37,0.0,3000.0000,3000.00,31.01,60,107.68,1,3.0,3.0,...,1,2,691.81,1552.18,0.0,1040.06,77.525001,0.5,0.093176,0.067752
27843,35,0.0,3000.0000,3000.00,18.25,60,85.33,3,3.0,3.0,...,0,2,0.00,0.00,0.0,0.00,45.625870,0.5,0.090808,0.039758
27844,40,0.0,2500.0000,2500.00,24.83,60,80.42,1,3.0,1.0,...,1,1,0.00,0.00,0.0,1051.85,51.729187,0.5,0.094610,0.045115
27845,47,1.0,3000.0000,3000.00,17.74,60,84.51,2,5.0,1.0,...,1,2,742.46,4829.92,0.0,889.50,44.351143,0.0,0.086908,0.038639
27846,21,1.0,3000.0000,3000.00,30.50,60,106.74,1,4.0,3.0,...,1,1,0.00,0.00,0.0,604.80,76.250001,0.0,0.087832,0.066633

In [50]:
X_features = ['Gender', 'Status', 'Education', 'EmploymentStatus', 'MaritalStatus', 'HomeOwnershipType', 'UseOfLoan', 'Amount', 'Interest', 'LoanDuration', 'IncomeTotal', 'LiabilitiesTotal', 'DebtToIncome', 'FreeCash' ]

In [51]:
df_X=df[X_features]

In [52]:
df_X

,Gender,Status,Education,EmploymentStatus,MaritalStatus,HomeOwnershipType,UseOfLoan,Amount,Interest,LoanDuration,IncomeTotal,LiabilitiesTotal,DebtToIncome,FreeCash
0,0.0,1,3.0,1,3.0,0.0,0,319.56,40.00,1,26500.0,0.00,0.00,0.00
1,1.0,1,2.0,1,4.0,0.0,2,319.56,30.00,20,6200.0,0.00,0.00,0.00
2,0.0,1,2.0,1,2.0,0.0,3,70.30,49.00,2,12000.0,0.00,0.00,0.00
3,0.0,1,5.0,1,1.0,0.0,3,191.75,30.00,18,22000.0,0.00,0.00,0.00
4,0.0,1,2.0,1,2.0,0.0,2,19.17,49.00,1,8700.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27842,0.0,2,3.0,1,3.0,5.0,1,3000.00,31.01,60,1400.0,500.00,7.69,792.32
27843,0.0,2,3.0,1,3.0,1.0,3,3000.00,18.25,60,2265.0,1777.46,31.58,520.67
27844,0.0,1,3.0,2,1.0,1.0,1,2500.00,24.83,60,2500.0,1350.00,3.22,1069.58
27845,1.0,2,5.0,1,1.0,4.0,2,3000.00,17.74,60,540.0,732.05,44.35,50.49
27846,1.0,1,4.0,1,3.0,2.0,1,3000.00,30.50,60,500.0,531.03,35.03,74.86

In [53]:
# create a list of all columns to keep
keep_cols = ['Amount', 'Interest', 'LoanDuration', 'IncomeTotal', 'LiabilitiesTotal', 'DebtToIncome', 'FreeCash', 
             'Gender', 'Status', 'Education', 'EmploymentStatus', 'MaritalStatus', 'HomeOwnershipType', 'UseOfLoan',
             'EMI', 'ELA', 'ROI', 'Target']

# drop all columns except for those in the keep_cols list
df = df[keep_cols]

In [93]:
df

,Amount,Interest,LoanDuration,IncomeTotal,LiabilitiesTotal,DebtToIncome,FreeCash,Gender,Status,Education,EmploymentStatus,MaritalStatus,HomeOwnershipType,UseOfLoan,EMI,ELA,ROI,Target
0,319.56,40.00,1,26500.0,0.00,0.00,0.00,0.0,1,3.0,1,3.0,0.0,0,32.745603,0.240099,0.009067,1
1,319.56,30.00,20,6200.0,0.00,0.00,0.00,1.0,1,2.0,1,4.0,0.0,2,8.010331,0.123593,0.006730,1
2,70.30,49.00,2,12000.0,0.00,0.00,0.00,0.0,1,2.0,1,2.0,0.0,3,21.138012,0.156880,0.002239,1
3,191.75,30.00,18,22000.0,0.00,0.00,0.00,0.0,1,5.0,1,1.0,0.0,3,4.816621,0.214272,0.003926,1
4,19.17,49.00,1,8700.0,0.00,0.00,0.00,0.0,1,2.0,1,2.0,0.0,2,12.317211,0.137941,0.000406,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27842,3000.00,31.01,60,1400.0,500.00,7.69,792.32,0.0,2,3.0,1,3.0,5.0,1,77.525001,0.093176,0.067752,1
27843,3000.00,18.25,60,2265.0,1777.46,31.58,520.67,0.0,2,3.0,1,3.0,1.0,3,45.625870,0.090808,0.039758,0
27844,2500.00,24.83,60,2500.0,1350.00,3.22,1069.58,0.0,1,3.0,2,1.0,1.0,1,51.729187,0.094610,0.045115,1
27845,3000.00,17.74,60,540.0,732.05,44.35,50.49,1.0,2,5.0,1,1.0,4.0,2,44.351143,0.086908,0.038639,1
27846,3000.00,30.50,60,500.0,531.03,35.03,74.86,1.0,1,4.0,1,3.0,2.0,1,76.250001,0.087832,0.066633,1

# Linear Reggresion

In [87]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Define the features to use
X_features = ['Gender', 'Status', 'Education', 'EmploymentStatus', 'MaritalStatus', 'HomeOwnershipType', 'UseOfLoan', 'Amount', 'Interest', 'LoanDuration', 'IncomeTotal', 'LiabilitiesTotal', 'DebtToIncome', 'FreeCash']
Y_Regression_features = ['EMI', 'ELA', 'ROI']

# Split the data into training and testing sets
X_train = df[X_features].loc[y_train.index]
X_test = df[X_features].loc[y_test.index]
y_train = df[Y_Regression_features].loc[y_train.index]
y_test = df[Y_Regression_features].loc[y_test.index]

# create an instance of the model
model = LinearRegression()

# fit the model to the training data
model.fit(X_train, y_train)

# make predictions on the test data
y_pred = model.predict(X_test)

# evaluate the model using metrics such as mean squared error (MSE) and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)
print("R-squared:", r2)

Mean squared error: 882.5872963266437
R-squared: 0.8194397991970153

In [91]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Define the features to use
X_features = ['Gender', 'Status', 'Education', 'EmploymentStatus', 'MaritalStatus', 'HomeOwnershipType', 'UseOfLoan', 'Amount', 'Interest', 'LoanDuration', 'IncomeTotal', 'LiabilitiesTotal', 'DebtToIncome', 'FreeCash']
Y_Regression_features = ['EMI', 'ELA', 'ROI']

# Split the data into training and testing sets
X_train = df[X_features].loc[y_train.index]
X_test = df[X_features].loc[y_test.index]
y_train = df[Y_Regression_features].loc[y_train.index]
y_test = df[Y_Regression_features].loc[y_test.index]

# create an instance of the model
model = LinearRegression()

# create a pipeline
pipeline = Pipeline(steps=[('model', model)])

# fit the pipeline to the training data
pipeline.fit(X_train, y_train)

# make predictions on the test data
y_pred = pipeline.predict(X_test)

# evaluate the pipeline using metrics such as mean squared error (MSE) and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error:", mse)
print("R-squared:", r2)

# save the pipeline using pickle
import pickle

with open('linear_regression_pipeline.pkl', 'wb') as f:
    pickle.dump(pipeline, f)

Mean squared error: 882.5872963266437
R-squared: 0.8194397991970153

#  Random Forest Classification

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Define the columns to be preprocessed using one-hot encoding
categorical_cols = ['Gender', 'Status', 'Education', 'EmploymentStatus', 'MaritalStatus', 'HomeOwnershipType', 'UseOfLoan']

# Define the columns to be preprocessed using standard scaling
numeric_cols = ['Amount', 'Interest', 'LoanDuration', 'IncomeTotal', 'LiabilitiesTotal', 'DebtToIncome', 'FreeCash']

# Define the preprocessor to apply the transformations
preprocessor_clf = ColumnTransformer(transformers=[('num', StandardScaler(), numeric_cols),
                                                   ('cat', OneHotEncoder(), categorical_cols)])

# Split the data into training and testing sets
X_train_clf, X_test_clf, y_train_clf, y_test_clf = train_test_split(df[X_features], df['Target'], test_size=0.2, random_state=42)

# Define the classifier model
model_clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Define the pipeline
pipeline_clf = Pipeline(steps=[('preprocessor', preprocessor_clf),
                               ('model', model_clf)])

# Fit the pipeline on the training data
pipeline_clf.fit(X_train_clf, y_train_clf)

# Make predictions on the test data
y_pred_clf = pipeline_clf.predict(X_test_clf)

# Calculate the accuracy score
accuracy = accuracy_score(y_test_clf, y_pred_clf)
print("Accuracy:", accuracy)

Accuracy: 0.8881508078994614

# Save the Classification model

In [92]:
import pickle

# Save the pipeline object
with open('clasification_model.pkl', 'wb') as f:
    pickle.dump(pipeline_clf, f)